/* styles.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}

nav {
    background-color: #009688;
    padding: 10px;
}

nav a {
    color: #fff;
    margin-right: 15px;
    text-decoration: none;
}

header {
    background-color: #4CAF50;
    padding: 20px;
    color: #fff;
}

p {
    background-color: #e0f2f1;
    padding: 10px;
    border-radius: 5px;
    color: #333;
}

h1 {
    color: #333;
}
